<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <nav><%- include('../partials/nav1.ejs')%></nav>
    <div id="container" class="container-fluid">
      <h1>Welcome Beautiful</h1>
      <nav>
        <h3 class="title">Register/Login:</h3>
        <ul>
          <li class="nav-item">
            <a class="login" class="nav-link" href="/sessions/new"
              ><span style="color: white">>>></span>Login</a
            >
          </li>
          <li class="nav-item">
            <a class="login" class="nav-link" href="/users/new"
              ><span style="color: white">>>></span>Register</a
            >
          </li>
        </ul>
      </nav>
      <div class="wrap">
        <h2>We are here to GLOW your skin</h2>
        <p class="para">
          We are not only gonna show you what are the best skin care products
          but we will walk you through all the process of skin care routine.
          <br />
        </p>
        <h3 class="title">Skin Care Routine:</h3>

        <p class="para">
          Its all about HOW and WHEN 🌞 / 🌚 to use WHICH at WHAT time for
          optimal results. as easy as it sounds if you just follow the right
          steps and be consistent you gonna see result and your skin gonna thank
          you.
        </p>
      </div>

      <div
        class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex"
      >
        <div class="row w-100 p-0 w-0">
          <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card mx-auto">
              <div
                class="card-body"
                style="
                  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Pw8yY6Skctl6wrC2Cc5kzQcLwH8ZIvRehw&usqp=CAU);
                  background-size: cover;
                "
              >
                <h3 class="card-title">Cleansing</h3>
                <p class="card-text">
                  This should be your first step <br />
                  Washing your face is the most basic and essential step of any
                  routine, our skin comes in contact with environmental
                  pollutants, dirt and other factors each day that should be
                  gently removed. Wash twice a day, morning and night, to avoid
                  clogged pores, dullness and acne.The right formula cleanses
                  your skin without stripping essential, healthy oils. Take it
                  easy with exfoliating scrubs (use once a week) and avoid those
                  with crushed walnut shells or abrasive ingredients.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card mx-auto">
              <div
                class="card-body"
                style="
                  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWxW4ovRebVKDjYJpJf5O2wcRjO268pThM_KP8RZcXAXgV91l1lnamwAQ2c08jEg18ztc&usqp=CAU);
                  background-size: cover;
                "
              >
                <h3 class="card-title">Toner</h3>
                <p class="card-text">
                  After washing your face you should use a toner <br />
                  Toners should be done after cleansing and before putting on
                  anything else. <br />
                  Applying toner with clean hands is the most efficient. Just
                  pour a few drops in your palm, then swipe it on. Or if you
                  prefer, you can pull apart a cotton pad so it’s not so thick
                  before putting toner on it.Most formulas can be used morning
                  and night, but you might want to use those with exfoliating
                  acids only at night or every other day.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card mx-auto">
              <div
                class="card-body"
                style="
                  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGxS2e-ZWIjDwFJ3mMmLGcYIlWBhl9j5xJ_Q&usqp=CAU);
                  background-size: cover;
                "
              >
                <h3 class="card-title">Serum</h3>
                <p class="card-text">
                  If there's one step in our daily skin-care routine that we
                  dare not skip, it's applying serum. The best face serums
                  deliver a highly concentrated, potent dose of active
                  ingredients to the skin and target a range of skin concerns in
                  one go. Whether it's antioxidants, hyaluronic acid, peptides,
                  botanical agents, or any number of other ingredients, serums
                  are able to carry smaller molecules deep into the skin, where
                  they exert the most benefit. Simply put, serums are powerful
                  skin allies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex"
        style="min-height: 80vh"
      >
        <div class="row w-100 p-0 w-0">
          <div class="col-lg-6 mb-4 d-flex align-items-stretch">
            <div class="card mx-auto">
              <div
                class="card-body"
                style="
                  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfAcunz4OfTAvf5pAhd4Uuo3gwQ8aKz8NPng&usqp=CAU);
                  background-size: cover;
                "
              >
                <h3 class="card-title">Moisturizer</h3>
                <p class="card-text">
                  The most basic function of a moisturizer is to hydrate and
                  soften the skin. Essentially, moisturizers assist in
                  preventing water loss through the outer layers of skin.They
                  can also complement the naturally found protective oils and
                  other building blocks within the skin, such as ceramides.Skin
                  naturally loses the ability to retain moisture as we age,and
                  daily activities, such as washing, can strip natural hydrators
                  from the surface. So everyone needs moisture, but the texture
                  of your moisturizer will differ depending on your skin type.
                  Moisturizers should be applied to clean skin after you cleanse
                  your face, as they prevent skin from drying out post-wash.
                  They’re also most effective when applied to slightly damp
                  skin, as they seal in moisture.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4 d-flex align-items-stretch">
            <div class="card mx-auto">
              <div
                class="card-body"
                style="
                  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQv8HHXVWgoOXQ3YziOCNG8cpLxqObd8qQDg&usqp=CAU);
                  background-size: cover;
                "
              >
                <h3 class="card-title">Sunscreens</h3>
                <p class="card-text">
                  PROTECT With Sunscreen <br />
                  Daily and consistent sunscreen use helps to prevent the
                  development of fine lines and wrinkles, textural
                  imperfections, and changes in the appearance of pores over
                  time. More importantly, daily sunscreen use can help to
                  prevent the formation of certain skin cancers.To make it easy
                  to remember, experts recommend using a daily moisturizer with
                  a built-in broad spectrum SPF of at least 30. The right
                  amount: <br />
                  Apply sunscreen 30 minutes before sun exposure, and reapply at
                  least every two hours. Chemical sunscreens should be applied
                  directly to clean skin, while physical blockers can be applied
                  last in your skin-care regimen, but before makeup is applied.
                  About two tablespoons of sunscreen are appropriate to cover
                  your face and exposed areas of your body; within that amount,
                  use a nickel-size dollop to cover your face.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer.ejs')%>
  </body>
</html>
